@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

/* NORMALIZE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* NORMALIZE */

body {
    background: #121212;
    color: #F1F1F1;
    font: 500 normal 22px/1.3 'Inter', sans-serif;
}
.mwg_effect097 .scroll {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mwg_effect097 {
    overflow: hidden;
    padding: calc(100vh - 80px) 25px 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); /* optional, to hide ui header placeholder */
}
.mwg_effect097 .header {
    position: fixed;
    font: 500 normal 13px / normal 'IBM Plex Mono';
    text-transform: uppercase;
    color: #999;
    top: 0;
    left: 0;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.mwg_effect097 .content p {
    width: 60%;
    margin: 0 auto;
    font-size: max(18px, 3vw);
}
.mwg_effect097 p.title {
    color: #999;
    margin: 80px auto 20px;
}
.mwg_effect097 .line {
    width: max-content
}
.mwg_effect097 .word {
    will-change: transform;
}

@media (max-width: 768px) {
    .mwg_effect097 {
        padding: calc(100vh - 80px) 15px 100vh;
    }
    .mwg_effect097 .header {
        font-size: 11px;
    }
}